@import "tailwindcss";




@theme {

  --color-dark: #0A0A0A;
  --color-light: #FAFAFA;

  --text-light: #000000;
  --text-dark: #ffffff;

  --color-iconBg: #1D1D1D;
  --color-iconTxt: oklch(87.1% 0.006 286.286)
}

@custom-variant dark (&:where(.dark, .dark *))